@import "./variables.scss";
@import "./mixins.scss";


@font-face {
  font-family: 'Graphik-SemiBold';
  src: url("/assets/fonts/Graphik/Graphik-Semibold.otf");
}


body
{
  margin:0;
  -webkit-font-smoothing: antialiased;
  font-family: Graphik-SemiBold;
}

a
{
  text-decoration: none;
  color: inherit;
}

.page
{
  @include pageLayout;
}